---
- name: Azure to ASA site-to-site VPN
  hosts: localhost
  vars_files:
    - vars/azure.yml

  tasks:
  # 1. Get remote end (non-cloud) public IP adddress
  - name: SYS >> Getting local Public IP address
    ipify_facts:
    check_mode: no
    tags: [deploy, vpn_up]
  - name: SYS >> Creating fact for Local public IP
    set_fact:
      rmte_public_ip: "{{ ipify_public_ip }}"
    check_mode: no
    tags: [deploy, vpn_up]

  # 2. Azure Role for the creation of the Azure end of the VPN must be run before gathering the Azure public IP address
  - name: CLD >> Azure Configuration
    include_role:
      name: azure
    tags: [deploy, vpn_up]

  # 3. Get and create a fact from the Azure public IP address
  - block:
    - name: CLD >> Getting {{ cld_provider.upper() }} public IP
      azure_rm_publicipaddress_facts:
        resource_group: "{{ rg_name }}"
        name: "{{ public_ip_name }}"
      register: publicip
    # Exits script if no public IP in Azure as ASA cant run without this
    - fail:
        msg: No Azure public IP present so playbook aborted. Cant run the ASA elements without this
      when: publicip.ansible_facts.azure_publicipaddresses[0].properties.ipAddress is not defined
    - name: SYS >> Creating fact for {{ cld_provider.upper() }} public IP
      set_fact:
        cld_public_ip: "{{ publicip.ansible_facts.azure_publicipaddresses[0].properties.ipAddress }}"
    check_mode: no
    tags: [destroy, vpn_down, deploy, vpn_up]

  # 4. Azure Role for the deletion of the Azure end of the VPN must be run after gathering the the Azure public IP address
  - name: ROLE >> Azure Configuration
    include_role:
      name: azure
    tags: [destroy, vpn_down]

# 5. Run all the plays to create the ASA end of the VPN
- name: ROLE >> ASA Configuration
  hosts: asa
  roles:
    - asa
