{# Name for the table taken from the first element of the commands list #}
==================== Output from {{ commands[0] }} ====================	
{# Which command output shown is taken from first element of the registered variable cli_output #}
{{ cli_output.results[0].stdout }}

==================== Output from {{ commands[1] }} ====================
{{ cli_output.results[1].stdout }}

==================== Output from {{ commands[2] }} ====================		
{{ cli_output.results[2].stdout }}

==================== Second to last entry of {{ commands[2] }} ====================
{# Nested lookup on the last element of the .stdout_lines output #}
{{ cli_output.results[2].stdout_lines[-2] }}

