[defaults]
inventory = hosts.yml
host_key_checking = False
gathering = explicit
display_skipped_hosts = false
# Use to hide all output, only prints specific plays that have tag `print_action` 
# stdout_callback = community.general.selective
