
object-group network {{ asa_vpn.local_grp }}
 description Local Networks accessible over VPN
{% for x in rmte_subnets %}
 network-object {{ x|ipaddr('network') }} {{ x|ipaddr('netmask') }}
{% endfor %}

object-group network {{ asa_vpn.az_vnet_grp }}
 description Remote Virtual network address spaces (supernets)
{% for y in vn_addr_spc %}
 network-object {{ y|ipaddr('network') }} {{ y|ipaddr('netmask') }}
{% endfor %}

object-group network {{ asa_vpn.az_subnet_grp }}
 description Remote Virtual subnets accessible over VPN
{% for y in cld_subnets.values() %}
 network-object {{ y|ipaddr('network') }} {{ y|ipaddr('netmask') }}
{% endfor %}

access-list {{ outside_acl }} extended permit ip object-group {{ asa_vpn.az_subnet_grp }} object-group {{ asa_vpn.local_grp }}
access-list {{ asa_vpn.acl }} extended permit ip object-group {{ asa_vpn.local_grp }} object-group {{ asa_vpn.az_vnet_grp }}
nat (any,{{ vpn_interface }}) 1 source static {{ asa_vpn.local_grp }} {{ asa_vpn.local_grp }} destination static {{ asa_vpn.az_vnet_grp }} {{ asa_vpn.az_vnet_grp }}
sysopt connection tcpmss 1350

crypto isakmp identity address
crypto ikev2 enable {{ vpn_interface }}
crypto ikev2 policy {{ vpn_index }}
 encryption aes-{{ p1_encr }}
 integrity sha{{ p1_hash }}
 prf sha{{ p1_hash }}
 group {{ dh }}
 lifetime seconds {{ p1_life }}

crypto isakmp identity address
crypto ipsec ikev2 ipsec-proposal AES-{{ p2_encr }}
 protocol esp encryption aes-{{ p2_encr }}
 protocol esp integrity sha-{{ p2_hash }}

crypto map {{ crypto_map }} interface {{ vpn_interface }}
crypto map {{ crypto_map }} {{ vpn_index }} match address {{ asa_vpn.acl }}
crypto map {{ crypto_map }} {{ vpn_index }} set peer {{ hostvars.localhost.cld_public_ip }}
crypto map {{ crypto_map }} {{ vpn_index }} set pfs group{{ pfs }}
crypto map {{ crypto_map }} {{ vpn_index }} set ikev2 ipsec-proposal AES-{{ p2_encr }}
crypto map {{ crypto_map }} {{ vpn_index }} set security-association lifetime seconds {{ sa_life }}
crypto map {{ crypto_map }} {{ vpn_index }} set security-association lifetime kilobytes {{ sa_size }}

tunnel-group {{ hostvars.localhost.cld_public_ip }} type ipsec-l2l
tunnel-group {{ hostvars.localhost.cld_public_ip }} ipsec-attributes
 ikev2 remote-authentication pre-shared-key {{ psk }}
 ikev2 local-authentication  pre-shared-key {{ psk }}