{##### Applies to Policy-based and Route-based VPNs ######}
object-group network {{ asa_vpn.local_grp }}
 description Local Networks accessible over VPN
{% for x in rmte_subnets %}
 network-object {{ x|ipaddr('network') }} {{ x|ipaddr('netmask') }}
{% endfor %}

object-group network {{ asa_vpn.az_vnet_grp }}
 description Remote Virtual network address spaces (supernets)
{% for y in vn_addr_spc %}
 network-object {{ y|ipaddr('network') }} {{ y|ipaddr('netmask') }}
{% endfor %}

object-group network {{ asa_vpn.az_subnet_grp }}
 description Remote Virtual subnets accessible over VPN
{% for y in cld_subnets.values() %}
 network-object {{ y|ipaddr('network') }} {{ y|ipaddr('netmask') }}
{% endfor %}

access-list {{ outside_acl }} extended permit ip object-group {{ asa_vpn.az_subnet_grp }} object-group {{ asa_vpn.local_grp }}
access-list {{ asa_vpn.acl }} extended permit ip object-group {{ asa_vpn.local_grp }} object-group {{ asa_vpn.az_vnet_grp }}
nat (any,{{ vpn_interface }}) 1 source static {{ asa_vpn.local_grp }} {{ asa_vpn.local_grp }} destination static {{ asa_vpn.az_vnet_grp }} {{ asa_vpn.az_vnet_grp }}
sysopt connection tcpmss 1350
crypto isakmp identity address

{##### IKEv1 Ph1 and Ph2 parameters for Policy-based VPNs ######}
{% if tunnel_type == 'policy_based' %}
crypto ikev1 enable {{ vpn_interface }}
crypto ikev1 policy {{ vpn_index }}
 authentication pre-share
 encryption {{ p1_encr }}
 hash {{ p1_hash | replace ("sha1","sha" ) }}
 group {{ dh }}
 lifetime {{ p1_life }}

crypto ipsec ikev1 transform-set {{ cld_provider }}_ESP_{{ p2_encr |upper | replace("-", "") }} esp-{{ p2_encr }} esp-{{ p2_hash | replace ("sha1","sha" ) }}-hmac
crypto map {{ crypto_map }} {{ vpn_index }} set ikev1 transform-set {{ cld_provider }}_ESP_{{ p2_encr |upper | replace("-", "") }}

{##### IKEv2 Ph1 and Ph2 parameters for Route-based VPNs ######}
{% elif tunnel_type == 'route_based' %}
crypto ikev2 enable {{ vpn_interface }}
crypto ikev2 policy {{ vpn_index }}
 encryption {{ p1_encr }}
 integrity {{ p1_hash | replace ("sha1","sha" ) }}
 prf {{ p1_hash | replace ("sha1","sha" ) }}
 group {{ dh }}
 lifetime seconds {{ p1_life }}

crypto ipsec ikev2 ipsec-proposal {{ cld_provider }}_ESP_{{ p2_encr |upper | replace("-", "") }}
 protocol esp encryption {{ p2_encr }}
 protocol esp integrity {{ p2_hash }}
crypto map {{ crypto_map }} {{ vpn_index }} set pfs {{ pfs }}
crypto map {{ crypto_map }} {{ vpn_index }} set ikev2 ipsec-proposal {{ cld_provider }}_ESP_{{ p2_encr |upper | replace("-", "") }}
{% endif %}

{##### IKEv1 Ph1 and Ph2 parameters for both, slight difference in PSK ######}
crypto map {{ crypto_map }} interface {{ vpn_interface }}
crypto map {{ crypto_map }} {{ vpn_index }} match address {{ asa_vpn.acl }}
crypto map {{ crypto_map }} {{ vpn_index }} set peer {{ hostvars.localhost.cld_public_ip }}
crypto map {{ crypto_map }} {{ vpn_index }} set security-association lifetime seconds {{ sa_life }}
crypto map {{ crypto_map }} {{ vpn_index }} set security-association lifetime kilobytes {{ sa_size }}

tunnel-group {{ hostvars.localhost.cld_public_ip }} type ipsec-l2l
tunnel-group {{ hostvars.localhost.cld_public_ip }} ipsec-attributes
{% if tunnel_type == 'policy_based' %}
 ikev1 pre-shared-key {{ psk }}
{% elif tunnel_type == 'route_based' %}
 ikev2 remote-authentication pre-shared-key {{ psk }}
 ikev2 local-authentication  pre-shared-key {{ psk }}
{% endif %}